@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

body{
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    justify-content: center;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    color: wheat;
    font-family: 'IM Fell English SC', serif;
}

header {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    color: #E6E6E6;
   }

.logo{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    display: inline-block;
    border: 2px dotted orange;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    right: 50px;
}

main{
    display: flex;
    background-color: beige;
    width: 100%;
}

.bloc1{
    background-color: #E9D758;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
    margin: 10px;
    color: #297373;
    border-radius: 20px;
}



.bloc2{
    background-color: #297373;
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
    margin: 10px;
    border-radius: 20px;
}

.bloc2-image{
    border-radius: 20px;
}


.bloc3{
    background-color: #FF8552;
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
    width: 100%;
   padding: 2%;
   margin: 10px;
   color: #297373;
   border-radius: 20px;
}

footer {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #39393A;
}

footer img{
    width: 100px;
}
